# === Python files ===
__pycache__/
*.py[cod]
*$py.class

# === Conda environments (if stored in project) ===
env/
.conda/
data/processed/
logs/
# === Conda environment files ===
environment.lock.yml

# === Jupyter Notebooks ===
.ipynb_checkpoints/



# === PyCharm project files ===
.idea/
*.iml
/shelf/
/workspace.xml
/tasks.xml
/usage.statistics.xml
/dictionaries/
/httpRequests/
/dataSources/
/dataSources.local.xml
/inspectionProfiles/
/sonarlint/

# === VS Code (optional, in case of multi-editor usage) ===
.vscode/